#themeToggle {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#themeToggle:hover svg {
  transform: rotate(20deg);
  color: var(--text);
}

#themeToggle svg {
  transition: all 0.3s ease;
}
